{# views/horizonos.njk #}
{% extends "layouts/base.njk" %}

{% block title %}Horizon OS{% endblock %}

{% block content %}
<h1>Horizon OS</h1>
<p>This is the Horizon OS service page. Add your content here.</p>
{% endblock %}