{# views/index.njk #}
{% extends "layouts/base.njk" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to Eldr1tch.tech</h1>
<p class="text-secondary mb-8">Press <code>/</code> or <code>~</code> to open navigation</p>
{% endblock %}