{# views/voyageurs.njk #}
{% extends "layouts/base.njk" %}

{% block title %}Voyageurs{% endblock %}

{% block content %}
<h1>Voyageurs</h1>
<p>This is the Voyageurs service page. Add your content here.</p>
{% endblock %}